<div class="p-5 mt-0 mb-4 bg-light rounded-3">
  <div class="container-fluid py">
    <h1 class="display-5 fw-bold">Log In</h1>
    <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
      <div class="mb-3 field">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", class: "form-control", id: "inputEmail" %>
      </div>
      <div class="mb-3 field">
        <%= f.label :password, class: "form-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", type: "password", class: "form-control", id: "inputPassword" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="mb-3 field">
          <%= f.check_box :remember_me, type: "checkbox", class: "form-check-input", id: "check" %>
          <%= f.label :remember_me, class: "ms-2 form-label" %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log In", class: "mb-2 btn btn-primary", id: "logIn" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>
